body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tanggal {
  color: #fff;
  background-color: #75a0fc!important
}

.awal {
  color: #fff;
  background-color: #81999c!important
}

.terjual {
  color: #fff;
  background-color: #58e783!important
}

.rusak {
  color: #fff;
  background-color: #f74251!important
}

.untung {
  color: #fff;
  background-color: #6e8d6c!important
}

@tailwind base;
@tailwind components;
@tailwind utilities;